<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.framework.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.cc.framework.model.SysUser">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
  </resultMap>
</mapper>